In [3]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is F84C-BD7B

 Directory of d:\DL_project\CreditCardFraudProject\notebooks

10/08/2025  01:54 PM    <DIR>          .
10/08/2025  01:30 PM    <DIR>          ..
10/08/2025  01:27 PM                 2 .gitkeep
10/08/2025  02:19 PM             9,718 preprocessing.ipynb
10/08/2025  02:27 PM             1,432 s_preprocess.ipynb
               3 File(s)         11,152 bytes
               2 Dir(s)  84,338,454,528 bytes free

In [4]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib
import tensorflow as tf   # or torch, depending on what you use

print("✅ All libraries are working!")

Matplotlib is building the font cache; this may take a moment.

✅ All libraries are working!

In [5]:
file_path = r"D:\DL_project\CreditCardFraudProject\data\CreditCardData.csv"
df = pd.read_csv(file_path)

In [6]:
print(df.shape)

(100000, 16)

In [7]:
df.head()

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0
1,#3039 221,14-Oct-20,Wednesday,17,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0
2,#2694 780,14-Oct-20,Wednesday,14,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0
3,#2640 960,13-Oct-20,Tuesday,14,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0
4,#2771 031,13-Oct-20,Tuesday,23,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Transaction ID          100000 non-null  object
 1   Date                    100000 non-null  object
 2   Day of Week             100000 non-null  object
 3   Time                    100000 non-null  int64
 4   Type of Card            100000 non-null  object
 5   Entry Mode              100000 non-null  object
 6   Amount                  99994 non-null   object
 7   Type of Transaction     100000 non-null  object
 8   Merchant Group          99990 non-null   object
 9   Country of Transaction  100000 non-null  object
 10  Shipping Address        99995 non-null   object
 11  Country of Residence    100000 non-null  object
 12  Gender                  99996 non-null   object
 13  Age                     100000 non-null  float64
 14  Bank                    100000 non-null  object
 15  Fraud                   100000 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 12.2+ MB
None